{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tabWidth": 2,
  "experimentalTernaries": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "singleQuote": true,
  "vueIndentScriptAndStyle": true
}
